.mybtn{
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    transition: 1.5s;
}

.btnRed{
    border: 2px solid red;
}

.btnGreen{
    border: 2px solid green;
}

.btnBlue{
    border: 2px solid blue;
}

.btnRed:hover{
    background-color: red;
    color: white;
}

.btnGreen:hover{
    background-color: green;
    color: white;
}
.btnBlue:hover{
    background-color: blue;
    color: white;
}




body{
    background-color: red;
    color: white;
    animation: myanimation 8s linear 2s infinite alternate;
    
    
  }


  @keyframes myanimation{
    0%{
      background-color:aquamarine ;
    }
    25%{
      background-color:yellow;
    }
    50%{
      background-color:orange;
    }
    75%{
      background-color:magenta;
    }
    100%{
      background-color: rgb(22, 15, 20);
    }
  }


  img {
    width: 150px;
    height: 150px;
    
  }
  
  div {
    width: 250px;
    height: 250px;
    background-color: white;
   
    float: right;
    
    position: relative;
  
    text-shadow: 2px 2px 5px springgreen;
  
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-direction: alternate-reverse;  
  
    /* Text In Centre */
    text-align: center;
    line-height: 50px;
    color: red;
  }
  
  @keyframes example {
    0% {
      background-color: red;
      left: 0px;
      top: 0px;
      /* hw use right & bootom */
    }
    25% {
      background-color: yellow;
      left: -100px;
      top: 0px;
      color: black;
      font-style: italic;
    }
    50% {
      background-color: blue;
      left: -100px;
      top: 100px;
      color: white;
      font-style: italic;
    }
    75% {
      background-color: green;
      left: 0px;
      top: 100px;
      color: gold;
      text-transform: uppercase;
    }
    100% {
      background-color: red;
      left: 0px;
      top: 0px;
      color: green;
      text-transform: uppercase;
    }
  }
  